BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignTrailingComments: true
BreakBeforeBraces: Mozilla
BreakConstructorInitializers: AfterColon
FixNamespaceComments: true
NamespaceIndentation: None